<div th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" href="/style.css">

    <aside class="sidebar">
        <h1>Rumi</h1>
        <p>Reflect, Understand, Maintain & Improve</p>
        <nav>
            <!--sidebar buttons-->
            <a th:href="@{/dashboard}">Dashboard</a>
            <a th:href="@{/timer}">Timer</a>
            <a th:href="@{/habits}">Habits</a>
            <a th:href="@{/journal}">Journal</a>
            <a th:href="@{/analytics}">Analytics</a>
            <a th:href="@{/checkin}">Daily Check-In</a>
            <a th:href="@{/shop}">Shop</a>
            <a th:href="@{/friends}">Friends</a>
            <a th:href="@{/rewards}">Rewards</a>
        </nav>




    </aside>

</div>
</body>
</html>
